@charset "UTF-8";
/*! 盛邦升华 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bounce-enter-active {
  animation: bounce-in .5s; }

.bounce-leave-active {
  animation: bounce-in .5s reverse; }

@keyframes bounce-in {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0; }
  to {
    background-position: -100% 0; } }

#app {
  width: 300px;
  margin: auto;
  margin-top: 5%; }
  #app h1 {
    text-align: center;
    margin-bottom: 20px; }
    #app h1 a {
      color: #000000; }
  #app button {
    cursor: pointer; }
  #app .header {
    margin-bottom: 20px; }
    #app .header input {
      float: left;
      height: 40px;
      padding: 5px;
      width: 80%;
      outline: none;
      border: 1px solid #ccc;
      border-right: none;
      background-image: -webkit-linear-gradient(left, red, green 25%, red 50%, green 75%, red) !important;
      -webkit-text-fill-color: transparent !important;
      -webkit-background-clip: text !important;
      -webkit-background-size: 200% 100% !important;
      -webkit-animation: masked-animation 1s infinite linear !important; }
    #app .header button {
      float: left;
      height: 40px;
      width: 20%;
      border: 1px solid #ccc;
      background-color: #2196f3;
      color: #ffffff; }
      #app .header button:hover {
        background-color: #1966a3; }
  #app .header::after {
    clear: both;
    content: "";
    display: table; }
  #app .main li {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: -1px; }
    #app .main li:first-child {
      margin-top: 0; }
    #app .main li span {
      width: 80%;
      display: block;
      float: left;
      word-break: break-all;
      padding-top: 5px;
      padding-bottom: 5px;
      background-image: -webkit-linear-gradient(right, red, green 25%, red 50%, green 75%, red) !important;
      -webkit-text-fill-color: transparent !important;
      -webkit-background-clip: text !important;
      -webkit-background-size: 200% 100% !important;
      -webkit-animation: masked-animation 2s infinite linear !important; }
    #app .main li button {
      width: 20%;
      display: block;
      float: left;
      border: 1px solid #ccc;
      outline: none;
      padding-top: 5px;
      padding-bottom: 5px; }
      #app .main li button:hover {
        background-color: #999; }
  #app .main::after {
    clear: both;
    content: "";
    display: table; }
  #app .main li::after {
    clear: both;
    content: "";
    display: table; }
