*{

}
body{
    background-color: #000;
    overflow: hidden;
}
.fImg{
    background-image: url("../img/blackhole.png");
    width: 800px;
    height: 800px;
    margin:auto;
    transform: rotate(0deg);
    animation:sss 10s infinite linear;
}
@keyframes sss {
100%{
    transform:rotate(360deg);
}
}