#content {
    //头部
    margin-top: 12%;
    margin-bottom: 12%;
}

#logo {
    //logo
    margin-bottom: 20px;

    img {
        width: 270px;
        height: 129px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#search {
    //输入框
    margin-bottom: 2rem;

    form {
        width: 600px;
        margin-right: auto;
        margin-left: auto;

        .btn,
        .s {
            float: left;
        }

        input {
            //设置 4 个边框的样式
            outline: none;

            &[type='text'] {}

            &[type='submit'] {}
        }

        .s {
            //搜索框
            position: relative;

            input {
                border: 1px solid #b6b6b6;
                border-right: none;
                width: 500px;
                height: 3rem;
                padding: 0.5rem 3.5rem 0.5rem 0.5rem;
                font-size: 1.25rem;

                &:hover {
                    border-color: #999999;
                }

                &:focus {
                    border-color: #4791ff;
                }
            }
        }

        .btn {
            //搜索按钮

            input {
                width: 100px;
                height: 3rem;
                font-size: 1.25rem;
                color: #fff;
                border: 0;
                cursor: pointer;
                background: #3385ff;
                border-bottom: 1px solid #2d78f4;

                &:hover {
                    background: #317ef3;
                }
            }
        }

        .camera {
            //相机
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -8px;
            height: 16px;
            width: 18px;
            background: #fff url("../img/camera.png") no-repeat;
            cursor: pointer;

            &:hover {
                background-position: 0 -20px;
            }
        }
    }
}
